{% extends "webview/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body%}
    {% if alert %}
        <script>
        alert("{{ alert }}")
        </script>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>


    {% if request.user.is_authenticated %}
         <h2>Add new admin</h2>
  <form method="post", action="{% url 'adminusers' %}">
    {% csrf_token %}
    {{ adminForm.as_p }}
    <button type="submit">Add new admin</button>
  </form>


        <section id = "user">
        <h1>Users</h1>
    <h3>Add New User</h3>
            <form action="{% url 'pvrusers' %}" method="post">
                {% csrf_token %}
                {{ userForm }}
                <input type="submit" value="Add">
            </form>

            <h3>Select a city to display list of all users</h3><select id="selectUse" onchange="getUserList(this)">
        <option value="None">...</option>
                {% for city in cities %}

                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>

        </section>

    {% else %}

    {% endif %}
    {#{% if request.user|isMember : "admin" %}#}

    <div style="display: none" id="sendMailTag">

        <input type="hidden" id="email">
        <button onclick="sendSingleUserMail(this)">Send Email</button>
    </div>
<script>

function sendSingleUserMail(elem) {
    var e = elem.parentElement;
    var sub = e.firstChild.value;
    var body = e.firstChild.nextSibling.value;
    var email = e.firstChild.nextSibling.nextSibling.value;
    var url = "{% url 'singlemail' %}" + "?mail=" + email + "&sub=" + sub + "&body="+body;

    var xhttp1= new XMLHttpRequest();
    xhttp1.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                      {#document.getElementById("demo").innerHTML = this.responseText;#}
                      alert(this.responseText);
                  }
  xhttp1.open("GET", url, true);
    xhttp1.send();
}
}

function getUserList(e) {
    var url = "{% url 'pvrusers' %}" + "?city=" + e.value;
    var win = window.open(url, '_blank');
      win.focus();
    var table = document.getElementById("userList");

var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    {#document.getElementById("demo").innerHTML = this.responseText;#}
      console.log(this.responseText);
    var data = JSON.parse(this.responseText);
    var sendMailSingleUser = document.getElementById("sendMailTag");

    console.log(data);
    for (i=0;i<data["data"].length;i++){
        var row = document.createElement("tr");
        var d1 = document.createElement("td");
        var d2 = document.createElement("td");
        var d3 = document.createElement("td");
        var d4 = document.createElement("td");
        var clone  = sendMailSingleUser.cloneNode(true);
        clone.style.display = "block";
        clone.firstChild.nextSibling.nextSibling.value = data["data"][i]["email"];
        d1.innerText = data["data"][i]["fname"];
        d2.innerText = data["data"][i]["lname"];
        d3.innerText = data["data"][i]["email"];
        d4.appendChild(clone);
        row.appendChild(d1);
        row.appendChild(d2);
        row.appendChild(d3);
        row.appendChild(d4);
        table.appendChild(row);
    }
    table.style.display = "block";
  }
};
xhttp.open("GET", url, true);
xhttp.send();

console.log(e.value);
}


</script>
{% endblock %}